<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>SSA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-datepicker/css/datepicker3.css}" />
    <link rel="stylesheet" th:href="@{/vendor/magnific-popup/magnific-popup.css}" />
    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/stylesheets/theme.css}" />
    <!-- Skin CSS -->
    <link rel="stylesheet" th:href="@{/stylesheets/skins/default.css}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" th:href="@{/stylesheets/theme-custom.css}">
    <!-- Fivicon-->
    <link rel="icon" type="image/png" th:href="@{/images/logo-16.png}" />
</head>

<body>
    <section class="body">


        <!-- start: header -->
        <header class="header">
            <!-- start: search & user box -->
            <div class="header-right">

                <span class="separator"></span>

                <ul class="notifications">
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge notif_span">0</span>
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                Notifications
                            </div>

                            <div class="content">
                                <ul class="notif_ls">

                                </ul>

                                <hr />

                                <div class="text-right">
                                    <a th:href="@{/notifs}" class="view-more">Voir tout</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img th:src="@{/user/profile/image}" class="img-circle" data-lock-picture="assets/images/maciri.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="Ismail" data-lock-email="youssef_maciri">
                            <span class="name" th:text="${@userServiceImpl.findById(#request.getUserPrincipal().getName()).profile.prenom}+' '+ ${@userServiceImpl.findById(#request.getUserPrincipal().getName()).profile.nom}"></span>
                            <span class="role" th:if="${#request.getUserPrincipal().getName() == 'admin'}">administrateur</span>
                            <span class="role" th:if="${#request.getUserPrincipal().getName() != 'admin'}">utilisateur</span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" th:href="@{/user/profile_ov}"><i class="fa fa-user"></i> Mon Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" th:href="@{/login?logout}"><i class="fa fa-power-off"></i> Se deconnecter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->


        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <a th:href="@{/dash}">
                    <div class="sidebar-header">
                        <div class="logo-container-sidebarheader-left">
                            <img th:src="@{/images/ssa.png}" height="50" width="50" alt="Logo SSA-sidebar-left" />
                        </div>
                        <div class="brand-name-container">
                            <header>
                                <h4>Smart System Architecture</h4>
                            </header>
                        </div>
                        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                        </div>
                    </div>
                </a>
                <br><br>
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/dash') ? 'nav-active':''}">
                                    <a th:href="@{/dash}">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>

                                <li class="nav-parent" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/notifs') ? 'nav-expanded':''}">
                                    <a>
                                        <span class="pull-right label label-warning notif_span">0</span>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span>Notifications et alertes</span>
                                    </a>
                                    <ul class="nav nav-children">

                                        <li th:classappend="${#httpServletRequest.getRequestURI().endsWith('/notifs') ? 'nav-active':''}">
                                            <a th:href="@{/notifs}" >
                                                Notifs
                                            </a>
                                        </li>

                                        <li th:classappend="${#httpServletRequest.getRequestURI().endsWith('/notifs/reportes') ? 'nav-active':''}">
                                            <a th:href="@{/notifs/reportes}">
                                                Notifs. Reportés
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-parent" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/log') ? 'nav-expanded':''}">
                                    <a>
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        <span>Navigation</span>
                                    </a>
                                    <ul class="nav nav-children">

                                        <li >
                                            <a th:href="@{/user/profile_ov}">
                                                Mon Profil
                                            </a>
                                        </li>

                                        <li sec:authorize="hasRole('ADMIN')" class="nav-parent" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/log') ? 'nav-expanded':''}">
                                            <a>
                                                <span>Log Viewer</span>
                                            </a>
                                            <ul class="nav nav-children">

                                                <li th:classappend="${#httpServletRequest.getRequestURI().endsWith('/log/actions') ? 'nav-active':''}">
                                                    <a th:href="@{/log/actions}">
                                                        Actions
                                                    </a>
                                                </li>

                                                <li th:classappend="${#httpServletRequest.getRequestURI().endsWith('/log/connexions') ? 'nav-active':''}">
                                                    <a th:href="@{/log/connexions}">
                                                        Connexions
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-parent" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/projets') ? 'nav-expanded':''}" >
                                    <a >
                                        <i class="fa fa-university" aria-hidden="true"></i>
                                        <span>Mes Projets</span>
                                    </a>

                                    <ul class="nav nav-children">
                                        <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/projets') ? 'nav-active':''}">
                                            <a th:href="@{/projets}">
                                                Projets
                                                <span class="pull-right label label-primary nbr_projet_span">3</span>
                                            </a>
                                        </li>

                                    </ul>

                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                        <span>Base de donnée</span>
                                    </a>
                                    <ul class="nav nav-children">

                                        <li>
                                            <div class="led-box">
                                            </div>
                                            <a href="#">
                                                Ma Base de donnée
                                            </a>
                                            <div class="led-green">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/users}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/users') ? 'nav-active':''}">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span>Utilisateurs</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        <hr class="separator" />

                    </div>

                </div>

            </aside>
            <!-- end: sidebar -->
            
             <div layout:fragment="content"></div>
        
        </div>
    </section>

    <!-- Vendor -->
    <script th:src="@{/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/vendor/nanoscroller/nanoscroller.js}"></script>
    <script th:src="@{/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/vendor/magnific-popup/magnific-popup.js}"></script>
    <script th:src="@{/vendor/jquery-placeholder/jquery.placeholder.js}"></script>

    <!-- Specific Page Vendor -->
    <script th:src="@{/vendor/jquery-validation/jquery.validate.js}"></script>
    <script th:src="@{/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js}"></script>
    <script th:src="@{/vendor/pnotify/pnotify.custom.js}"></script>

    <!-- Theme Base, Components and Settings -->
    <script th:src="@{/javascripts/theme.js}"></script>

    <!-- Theme Custom -->
    <script th:src="@{/javascripts/theme.custom.js}"></script>

    <!-- Theme Initialization Files -->
    <script th:src="@{/javascripts/theme.init.js}"></script>

    <script th:src="@{/vendor/modernizr/modernizr.js}"></script>

    <!-- Examples -->
    <script th:src="@{/javascripts/ui-elements/examples.lightbox.js}"></script>
    <script th:src="@{/javascripts/forms/examples.wizard.js}"></script>
    <script>
        $('.docSelect').on('change', function() {
            console.log(this.value);
            $(".print_button").attr("href", this.value);
        });

    </script>
</body>
</html>
