<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>&ensp;</title>
    <!-- Vendor CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" media='all'/>
    <!-- Invoice Print Style -->
    <link rel="stylesheet" th:href="@{/stylesheets/invoice-print.css}" media='all'/>
</head>
<body>

<div class="invoice doc_12 doc_13 doc_14">

    <div>

        <div class="header">
            <div class="row">
                <div class="head-left col-xs-3">
                    <img th:src="@{/images/logo_ssa.png}" alt="">
                </div>
                <div class="head-right col-xs-9">
                    <span class="print_tch_ym">YOUSSEF MACIRI</span>
                    <span class="print_rch_ach">ARCHITECTE D’E.N.A </span>

                    <p>
                        <span>CABINET D’ARCHITECTURE, D’URBANISME ET DESIGN</span><br>
                        <span>Immeuble Maison de L’avocat 5 ème étage, Bureau 540 bd Hassan II Agadir </span>
                        <span class="tel"><u>cabinet.architecture.0528840984@gmail.com</u> TEL / FAX: 0528-84-09-84 GSM: 0661-51-45-91
                            </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="hr_cm"></div>
        <div class="body">

            <div class="footer">
                <div class="left"></div>
                <div class="right">AGADIR LE : ...............................</div>
            </div>


            <br>
            <div class="a_monsieur">À Monsieur : ………………………………</div>

            <div class="section1_title print_title">BORDEREAU D’ENVOI</div>
            <div class="section1_list">
                <ul>
                    <li><span>Propriétaire </span> <b>:</b> …………………………………</li>
                    <li><span>Projet </span> <b>:</b> …………………………………</li>
                    <li><span>Sis </span> <b>:</b> …………………………………</li>
                </ul>
            </div>

            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="5%">N°</th>
                    <th>Désignation</th>
                    <th width="15%" class="text-center">Nombre</th>
                    <th width="35%" >Observation</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td >1</td>
                    <td>Jeux de plan</td>
                    <td class="text-center">8</td>
                    <td class="pour_avis" rowspan="17" style="vertical-align : middle;text-align:center;" >POUR AVIS</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Contrat d’architecte</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Demande d’autorisation</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Identité de pétitionnaire et engagement</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Fiche statistique</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Carte d’identité nationale</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Statut de la societé</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Certificat de propriété</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Plan de cadastral</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Plan topographique.</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Plan coté</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Attestation bureau de control</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Cahier de chantier</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Note de renseignement.</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Lettre de derogation</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Plan autorisé.</td>
                    <td class="text-center">3</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Fiche technique et présentation</td>
                    <td class="text-center">3</td>
                </tr>
                </tbody>
            </table>

            <div class="footer" style="padding-left: 40px; padding-right: 60px;">
                <div class="left"></div>
                <div class="right">Signature et cachet de l’architecte </div>
            </div>

            <br><br><br><br>
            <div class="footer_s">
                <div class="hr_cm2"></div>
                <div class="footer_link">RC: N° 446/48308 - PATENTE N°: 48122540 -TVA: 75769450 -CNSS: 6884200</div>
            </div>

        </div>


    </div>
    <script>
        window.print();

    </script>
</div>
</body>
</html>
