<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Vendor CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/stylesheets/theme.css}" />
    <!-- Skin CSS -->
    <link rel="stylesheet" th:href="@{/stylesheets/skins/default.css}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" th:href="@{/stylesheets/theme-custom.css}">
    <!-- Fivicon-->
    <link rel="icon" type="image/png" th:href="@{/images/logo-16.png}" />

</head>
<body>
<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <a href="/" class="logo pull-left">
                    <!--					<img src="assets/images/ch_logo.jpg" alt="Porto Admin" />-->
                </a>
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Connexion</h2>
            </div>
            <div class="panel-body">
                <form th:action="@{/login}" method="post">
                    <div class="alert alert-danger" id="errors" th:if="${param.error != null}">
                       <i class="fa fa-times"></i> username ou mot de passe est incorrect
                    </div>
                    <div class="form-group mb-lg">
                        <label>Utilisateur </label>
                        <div class="input-group input-group-icon">
                            <input name="username" type="text" class="form-control input-lg" />
                            <span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
                        </div>
                    </div>

                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">Mot de passe</label>
                        </div>
                        <div class="input-group input-group-icon">
                            <input name="password" type="password" class="form-control input-lg" />
                            <span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-7">
                        </div>
                        <div class="col-sm-5 text-right">
                            <button type="submit" class="btn btn-primary hidden-xs"><i class="fa fa-sign-in-alt"></i> Se connecter</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</section>
<!-- end: page -->

</body>
</html>
