<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        i{font-size: 17px !important;}
    </style>
</head>
<body>

<div id="page" layout:fragment="content">


    <section role="main" class="content-body">
        <header class="page-header">
            <h2 class="pull-left">Les notification</h2>
        </header>
        <!-- start: page -->

        <div class="modal fade" id="supp_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Vous êtes Sur de supprimer cette notification ?</h4>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger submit_supp"><i class="fa fa-trash-o"></i> Supprimer</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Annuler</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Notifications</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-none">
                            <thead>
                            </thead>
                            <tbody>
                            <tr th:each="notif: ${notifs}">
                                <td >
                                    <a class="notif_line"th:text="${notif.projetPerName} + ' ('+${notif.projetid}+')'" th:href="@{'/projets/'+${notif.projetid}+'/pices/phase1'}"></a>
                                </td>
                                <td th:class="'notif_'+${notif.id}"></td>
                                <td class="text-center">
                                    <a th:href="@{'/notifs/'+${notif.id}+'/reporter'}" class="btn btn-warning btn-xs"><i class="fa fa-clock-o"></i> Reporter</a>
                                    |
                                    <a th:href="@{'/notifs/'+${notif.id}+'/delete'}" class="btn_supp"><i class="fa fa-trash-o text-danger"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <!-- end: page -->
    </section>

</div>

</body>
</html>
