<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="page" layout:fragment="content">


    <section role="main" class="content-body">
        <header class="page-header">
            <h2 class="pull-left">Description du projet</h2>
        </header>

        <!-- start: page -->

        <!-- start: page -->
        <nav class="slidemenu">

            <!-- Item 1 -->
            <a th:href="@{'/projets/'+${project_id}+'/fiche'}">
                <i id="slide-item-1" class="slide-toggle"></i>
                <label for="slide-item-1">
                    <p class="icon"><i class="fa fa-file"></i></p><span>Fiche Projet</span>
                </label>
            </a>

            <!-- Item 2 -->
            <a th:href="@{'/projets/'+${project_id}+'/description'}">
                <i id="slide-item-2" class="slide-toggle activeDoc"></i>
                <label for="slide-item-2">
                    <p class="icon"><i class="fa fa-cubes"></i></p><span>Description Technique</span>
                </label></a>

            <!-- Item 3 -->
            <a th:href="@{'/projets/'+${project_id}+'/suivi_chantier'}">
                <i id="slide-item-3" class="slide-toggle "></i>
                <label for="slide-item-3">
                    <p class="icon"><i class="fa fa-building"></i></p><span>Suivi Chantier</span>
                </label>
            </a>
            <!-- Item 4 -->
            <a th:href="@{'/projets/'+${project_id}+'/pices'}">
                <i id="slide-item-4" class="slide-toggle "></i>
                <label for="slide-item-4">
                    <p class="icon"><i class="fa fa-file-picture-o"></i></p><span>Peices Jointes</span>
                </label>
            </a>

            <div class="clear"></div>
            <!-- Bar -->
            <div class="slider">
                <div class="bar descBar"></div>
            </div>

        </nav>
        <br>
        <!-- start: page -->

        <section class="panel panel-featured panel-featured-primary">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>

                <h2 class="panel-title">Description Technique</h2>
            </header>
            <div class="panel-body">
                <a th:href="@{'/projets/'+${project_id}+'/description/form'}" class="btn btn-info"><i class="fa fa-edit"></i> Modifier</a>
                <br><br>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Surface du terrain</th>
                        <td th:text="${description.surface_terrain}" ></td>
                    </tr>
                    <tr>
                        <th>Surface au sol</th>
                        <td th:text="${description.surface_au_sol}"></td>
                    </tr>
                    <tr>
                        <th>Surface couverte</th>
                        <td th:text="${description.surface_couverte}"></td>
                    </tr>
                    <tr>
                        <th>COS</th>
                        <td th:text="${description.cos}"></td>
                    </tr>
                    <tr>
                        <th>CUS</th>
                        <td th:text="${description.cus}"></td>
                    </tr>
                    <tr>
                        <th>Prix du m²</th>
                        <td th:text="${description.prixm2}"></td>
                    </tr>
                    <tr>
                        <th>Estimation des travaux</th>
                        <td th:text="${description.estimation_travaux}"></td>
                    </tr>
                    <tr>
                        <th>Délai</th>
                        <td th:text="${#dates.format(description.delai, 'dd/MM/yyyy')}"></td>
                    </tr>
                    <tr>
                        <th>Travaux honoraire</th>
                        <td th:text="${description.trav_honoraire}"></td>
                    </tr>
                    <tr>
                        <th>Montant honoraire</th>
                        <td th:text="${description.mont_honoraire}"></td>
                    </tr>
                    <tr>
                        <td>

                            <a th:href="@{/documents/contrat}" class="btn btn-info print_button"><i class="fa fa-print"></i> Imprimer</a>
                        </td>
                        <td>
                            <select class="form-control docSelect">
                                <option value="/documents/contrat">Contrat</option>
                                <option value="/documents/demande">Demande</option>
                                <option value="/documents/declaration">Declaration</option>
                                <option value="/documents/fin_travaux_12">Attestation fin travaux</option>
                                <option value="/documents/fiche_rens_11">Fiche de renseigement</option>
                                <option value="/documents/fiche_tch_13">Fiche technique</option>
                                <option value="/documents/fiche_tch_15">Fiche technique et présentation</option>
                                <option value="/documents/bordereau_14">Bordereau d'envoi</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- end: page -->
    </section>

</div>
</body>
</html>
