<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="page" layout:fragment="content">


    <section role="main" class="content-body">
        <header class="page-header">
            <h2 class="pull-left">Phase 1</h2>
        </header>


        <!-- start: page -->
        <nav class="slidemenu">

            <!-- Item 1 -->
            <a th:href="@{'/projets/'+${project_id}+'/fiche'}">
                <i id="slide-item-1" class="slide-toggle"></i>
                <label for="slide-item-1">
                    <p class="icon"><i class="fa fa-file"></i></p><span>Fiche Projet</span>
                </label>
            </a>

            <!-- Item 2 -->
            <a th:href="@{'/projets/'+${project_id}+'/description'}">
                <i id="slide-item-2" class="slide-toggle"></i>
                <label for="slide-item-2">
                    <p class="icon"><i class="fa fa-cubes"></i></p><span>Description Technique</span>
                </label></a>

            <!-- Item 3 -->
            <a th:href="@{'/projets/'+${project_id}+'/suivi_chantier'}">
                <i id="slide-item-3" class="slide-toggle "></i>
                <label for="slide-item-3">
                    <p class="icon"><i class="fa fa-building"></i></p><span>Suivi Chantier</span>
                </label>
            </a>
            <!-- Item 4 -->
            <a th:href="@{'/projets/'+${project_id}+'/pices'}">
                <i id="slide-item-4" class="slide-toggle activeDoc"></i>
                <label for="slide-item-4">
                    <p class="icon"><i class="fa fa-file-picture-o"></i></p><span>Peices Jointes</span>
                </label>
            </a>

            <div class="clear"></div>
            <!-- Bar -->
            <div class="slider">
                <div class="bar peicesBar"></div>
            </div>

        </nav>
        <br>
        <!-- start: page -->

        <div class="row">
            <div class="tabs tabs-primary">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#p1" data-toggle="tab" >Phase <b>1</b></a>
                    </li>
                    <li >
                        <a th:if="${phase1_full}" th:href="@{'/projets/'+${project_id}+'/pices/phase2'}" >Phase <b>2</b></a>
                        <a th:if="${!phase1_full}" class="phase_disable">Phase <b>2</b></a>
                    </li>
                    <li>
                        <a th:if="${phase1_full}" th:href="@{'/projets/'+${project_id}+'/pices/phase3'}">Phase <b>3</b></a>
                        <a th:if="${!phase1_full}" class="phase_disable">Phase <b>3</b></a>
                    </li>
                    <li>
                        <a th:if="${phase1_full}" th:href="@{'/projets/'+${project_id}+'/pices/phase4'}">Phase <b>4</b></a>
                        <a th:if="${!phase1_full}" class="phase_disable">Phase <b>4</b></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="p1" class="tab-pane active">
                        <a th:href="@{'/projets/'+${project_id}+'/pices/phase1/edit'}" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</a>
                        <br>
                        <br>
                        <br>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="40%">
                                        <a th:if="${phase1.cin_passeport != null}" th:href="@{'/projets/'+${project_id}+'/documents/cin_passeport'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/cin_passeport'}" width="40px" height="50px">
                                        </a>
                                        <a th:if="${phase1.cin_passeport == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>
                                    </td>
                                    <td>CIN ou passeport</td>

                                </tr>
                                <tr>
                                    <td width="40%">

                                        <a th:if="${phase1.contrat_arch != null}" th:href="@{'/projets/'+${project_id}+'/documents/contrat_arch'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/contrat_arch'}" width="40px" height="50px">
                                        </a>

                                        <a th:if="${phase1.contrat_arch == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>

                                    </td>
                                    <td>Contrat d'architecture</td>

                                </tr>
                                <tr>
                                    <td width="40%">

                                        <a th:if="${phase1.demande != null}" th:href="@{'/projets/'+${project_id}+'/documents/demande'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/demande'}" width="40px" height="50px">
                                        </a>

                                        <a th:if="${phase1.demande == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>

                                    </td>
                                    <td>Demande</td>

                                </tr>
                                <tr>
                                    <td width="40%">

                                        <a th:if="${phase1.declaration != null}" th:href="@{'/projets/'+${project_id}+'/documents/declaration'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/declaration'}" width="40px" height="50px">
                                        </a>

                                        <a th:if="${phase1.declaration == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>

                                    </td>
                                    <td>Declaration</td>

                                </tr>
                                <tr>
                                    <td width="40%">

                                        <a th:if="${phase1.certificat_prop != null}" th:href="@{'/projets/'+${project_id}+'/documents/certificat_prop'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/certificat_prop'}" width="40px" height="50px">
                                        </a>

                                        <a th:if="${phase1.certificat_prop == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>

                                    </td>
                                    <td>Certificat propriété</td>

                                </tr>
                                <tr>
                                    <td width="40%">

                                        <a th:if="${phase1.plan != null}" th:href="@{'/projets/'+${project_id}+'/documents/plan'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/plan'}" width="40px" height="50px">
                                        </a>

                                        <a th:if="${phase1.plan == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>

                                    </td>
                                    <td>Plan</td>

                                </tr>
                                <tr>
                                    <td width="40%">

                                        <a th:if="${phase1.liste_coord != null}" th:href="@{'/projets/'+${project_id}+'/documents/liste_coord'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/liste_coord'}" width="40px" height="50px">
                                        </a>

                                        <a th:if="${phase1.liste_coord == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>

                                    </td>
                                    <td>Liste coordnées</td>

                                </tr>
                                <tr>
                                    <td width="40%">

                                        <a th:if="${phase1.plan_cote != null}" th:href="@{'/projets/'+${project_id}+'/documents/plan_cote'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/plan_cote'}" width="40px" height="50px">
                                        </a>

                                        <a th:if="${phase1.plan_cote == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>

                                    </td>
                                    <td>plan côté</td>

                                </tr>
                                <tr>
                                    <td width="40%">

                                        <a th:if="${phase1.note_reinseignement != null}" th:href="@{'/projets/'+${project_id}+'/documents/note_reinseignement'}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/note_reinseignement'}" width="40px" height="50px">
                                        </a>

                                        <a th:if="${phase1.note_reinseignement == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                            <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                        </a>

                                    </td>
                                    <td>Note de reinseignement</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="p2" class="tab-pane"></div>
                    <div id="p3" class="tab-pane"></div>
                    <div id="p4" class="tab-pane"></div>
                </div>
            </div>
        </div>

        <!-- end: page -->
    </section>

</div>

</body>
</html>
