<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="page" layout:fragment="content">


    <section role="main" class="content-body">
        <header class="page-header">
            <h2 class="pull-left">Accueil</h2>
        </header>


        <!-- start: page -->
        <nav class="slidemenu">

            <!-- Item 1 -->
            <a th:href="@{'/projets/'+${fiche.ref}+'/fiche'}">
                <i id="slide-item-1" class="slide-toggle activeDoc"></i>
                <label for="slide-item-1">
                    <p class="icon"><i class="fa fa-file"></i></p><span>Fiche Projet</span>
                </label>
            </a>

            <!-- Item 2 -->
            <a th:href="@{'/projets/'+${fiche.ref}+'/description'}">
                <i id="slide-item-2" class="slide-toggle"></i>
                <label for="slide-item-2">
                    <p class="icon">★</p><span>Description Technique</span>
                </label></a>

            <!-- Item 3 -->
            <a th:href="@{'/projets/'+${fiche.ref}+'/suivi_chantier'}">
                <i id="slide-item-3" class="slide-toggle "></i>
                <label for="slide-item-3">
                    <p class="icon">✈</p><span>Suivi Chantier</span>
                </label>
            </a>
            <!-- Item 4 -->
            <a th:href="@{'/projets/'+${fiche.ref}+'/pices'}">
                <i id="slide-item-4" class="slide-toggle "></i>
                <label for="slide-item-4">
                    <p class="icon">✎</p><span>Peices Jointes</span>
                </label>
            </a>

            <div class="clear"></div>
            <!-- Bar -->
            <div class="slider">
                <div class="bar ficheBar"></div>
            </div>

        </nav>
        <br>
        <!-- start: page -->

        <section class="panel panel-featured panel-featured-primary">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>

                <h2 class="panel-title">Fiche Projet</h2>
            </header>
            <div class="panel-body">
                <a th:href="@{'/projets/'+${fiche.ref}+'/fiche/form'}" class="btn btn-info"><i class="fa fa-edit"></i> Modifier</a>
                <br><br>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Reference</th>
                        <td th:text="${fiche.ref}" ></td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td th:text="${fiche.nom}"></td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td th:text="${fiche.prenom}"></td>
                    </tr>
                    <tr>
                        <th>CIN</th>
                        <td th:text="${fiche.cin}"></td>
                    </tr>
                    <tr>
                        <th>Contacte</th>
                        <td th:text="${fiche.contact}"></td>
                    </tr>
                    <tr>
                        <th>Situation</th>
                        <td th:text="${fiche.situation}"></td>
                    </tr>
                    <tr>
                        <th>Nature du Projet</th>
                        <td th:text="${fiche.nature_projet}"></td>
                    </tr>
                    <tr>
                        <th>Date entrée</th>
                        <td th:text="${#dates.format(fiche.date_entree, 'dd/MM/yyyy')}" ></td>
                    </tr>
                    <tr>
                        <th>Date sortie</th>
                        <td th:text="${#dates.format(fiche.date_sortie, 'dd/MM/yyyy')}"></td>
                    </tr>
                    <tr>
                        <th>Dessiné par</th>
                        <td th:text="${fiche.dessinateur}"></td>
                    </tr>
                    <tr>
                        <th>Observations</th>
                        <td th:text="${fiche.observations}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- end: page -->
    </section>

</div>

</body>
</html>
