<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <meta charset="UTF-8">
    <title>Les projets</title>
</head>
<body>

<div id="page" layout:fragment="content">

    <section role="main" class="content-body">
        <header class="page-header">
            <h2 class="pull-left">Les projets</h2>
        </header>

        <!-- start: page -->


        <div class="row">
            <div class="col-sm-2">
                <a th:href="@{/projets/add}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a>
            </div>
            <form class="col-sm-4" th:action="@{/projets/chercher_projet}" method="post">
                <div class="input-group mb-md">
                        <input type="text" class="form-control" name="str">
                            <span class="input-group-addon hand" id="span_searche">
                                <i class="fa fa-search"></i>
                            </span>
                        <button id="btn_searche" type="submit" hidden></button>
                </div>
            </form>
        </div>

        <br>
        <br>


        <div class="row" th:if="${param.erreur != null}">
            <div class="col-md-6">
                <div class="alert alert-danger" th:if="${param.erreur[0] == 'true'}">
                    <strong><i class="fa fa-times"></i></strong> le code est incorrect
                </div>
                <div class="alert alert-success" th:if="${param.erreur[0] == 'false'}">
                    <strong><i class="fa fa-check"></i></strong> le projet a été supprimé avec succès
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xl-3" th:each="projet: ${projets}">
                <a th:href="@{'/projets/'+${projet.ref}+'/fiche'}">
                    <section class="panel ch_project_list_item">
                        <header class="panel-heading bg-white">
                            <div class="panel-heading-icon bg-primary mt-sm">
                                <i class="fa fa-folder-open"></i>
                            </div>
                        </header>
                        <div class="panel-body">
                            <h3 class="text-semibold mt-none text-center" th:text="${projet.ficheProjet.nom}"></h3>
                            <p class="text-center" th:text="${projet.ref}"></p>
                        </div>
                    </section>
                </a>
            </div>

        </div>

        <!-- end: page -->
    </section>
</div>
</body>
</html>
