<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="page" layout:fragment="content">


    <section role="main" class="content-body">
        <header class="page-header">
            <h2 class="pull-left">Phase 4</h2>
        </header>


        <!-- start: page -->
        <nav class="slidemenu">

            <!-- Item 1 -->
            <a th:href="@{'/projets/'+${project_id}+'/fiche'}">
                <i id="slide-item-1" class="slide-toggle"></i>
                <label for="slide-item-1">
                    <p class="icon"><i class="fa fa-file"></i></p><span>Fiche Projet</span>
                </label>
            </a>

            <!-- Item 2 -->
            <a th:href="@{'/projets/'+${project_id}+'/description'}">
                <i id="slide-item-2" class="slide-toggle"></i>
                <label for="slide-item-2">
                    <p class="icon"><i class="fa fa-cubes"></i></p><span>Description Technique</span>
                </label></a>

            <!-- Item 3 -->
            <a th:href="@{'/projets/'+${project_id}+'/suivi_chantier'}">
                <i id="slide-item-3" class="slide-toggle "></i>
                <label for="slide-item-3">
                    <p class="icon"><i class="fa fa-building"></i></p><span>Suivi Chantier</span>
                </label>
            </a>
            <!-- Item 4 -->
            <a th:href="@{'/projets/'+${project_id}+'/pices'}">
                <i id="slide-item-4" class="slide-toggle activeDoc"></i>
                <label for="slide-item-4">
                    <p class="icon"><i class="fa fa-file-picture-o"></i></p><span>Peices Jointes</span>
                </label>
            </a>

            <div class="clear"></div>
            <!-- Bar -->
            <div class="slider">
                <div class="bar peicesBar"></div>
            </div>

        </nav>
        <br>
        <!-- start: page -->


        <div class="row">
            <div class="tabs tabs-primary">
                <ul class="nav nav-tabs ">
                    <li >
                        <a th:href="@{'/projets/'+${project_id}+'/pices/phase1'}"  >Phase <b>1</b></a>
                    </li>
                    <li >
                        <a th:href="@{'/projets/'+${project_id}+'/pices/phase2'}">Phase <b>2</b></a>
                    </li>
                    <li class="">
                        <a th:href="@{'/projets/'+${project_id}+'/pices/phase3'}">Phase <b>3</b></a>
                    </li>
                    <li class="active">
                        <a href="#p1" data-toggle="tab">Phase <b>4</b></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="p1" class="tab-pane"></div>
                    <div id="p2" class="tab-pane"></div>
                    <div id="p3" class="tab-pane"></div>
                    <div id="p4" class="tab-pane active">
                        <form novalidate="novalidate" enctype="multipart/form-data"
                              th:action="@{'/projets/'+${project_id}+'/phase4/edit'}" th:object="${phase4MultipartFiles}"  method="post">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="40%">
                                            <a th:if="${phase4.photo_acheve != null}" th:href="@{'/projets/'+${project_id}+'/documents/photo_acheve'}" class="image-popup-no-margins" >
                                                <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/photo_acheve'}" width="40px" height="50px">
                                            </a>

                                            <a th:if="${phase4.photo_acheve == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                                <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                            </a>
                                        </td>
                                        <td>Photo d'achèvement</td>
                                        <td>
                                            <span class='label label-info' id="upload-file-info1" th:text="${phase4.photo_acheve != null ? phase4.photo_acheve.nomDoc:''}"></span>
                                            <label class="btn btn-primary" for="my-file-selector1">
                                                <input th:field="${phase4MultipartFiles.photo_acheve}" id="my-file-selector1" type="file" style="display:none" onchange="$('#upload-file-info1').html(this.files[0].name)">
                                                <i class="fa fa-upload"></i> Upload...
                                            </label>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a th:if="${phase4.fermeture_chantier != null}" th:href="@{'/projets/'+${project_id}+'/documents/fermeture_chantier'}" class="image-popup-no-margins" >
                                                <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/fermeture_chantier'}" width="40px" height="50px">
                                            </a>

                                            <a th:if="${phase4.fermeture_chantier == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                                <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                            </a>
                                        </td>
                                        <td>Fermeture de chantier</td>
                                        <td>
                                            <span class='label label-info' id="upload-file-info3" th:text="${phase4.fermeture_chantier != null ? phase4.fermeture_chantier.nomDoc:''}"></span>
                                            <label class="btn btn-primary" for="my-file-selector3">
                                                <input th:field="${phase4MultipartFiles.fermeture_chantier}" id="my-file-selector3" type="file" style="display:none" onchange="$('#upload-file-info3').html(this.files[0].name)">
                                                <i class="fa fa-upload"></i> Upload...
                                            </label>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td width="40%">
                                            <a th:if="${phase4.attestation_fin_travaux != null}" th:href="@{'/projets/'+${project_id}+'/documents/attestation_fin_travaux'}" class="image-popup-no-margins" >
                                                <img  class="img-responsive" th:src="@{'/projets/'+${project_id}+'/documents/attestation_fin_travaux'}" width="40px" height="50px">
                                            </a>

                                            <a th:if="${phase4.attestation_fin_travaux == null}" th:href="@{/images/vide_img.png}" class="image-popup-no-margins" >
                                                <img  class="img-responsive" th:src="@{/images/vide_img.png}" width="40px" height="50px">
                                            </a>
                                        </td>
                                        <td>Attestation fin de travauxrouvé</td>
                                        <td>
                                            <span class='label label-info' id="upload-file-info4" th:text="${phase4.attestation_fin_travaux != null ? phase4.attestation_fin_travaux.nomDoc:''}"></span>
                                            <label class="btn btn-primary" for="my-file-selector4">
                                                <input th:field="${phase4MultipartFiles.attestation_fin_travaux}" id="my-file-selector4" type="file" style="display:none" onchange="$('#upload-file-info4').html(this.files[0].name)">
                                                <i class="fa fa-upload"></i> Upload...
                                            </label>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <br>
                                            <a th:href="@{'/projets/'+${project_id}+'/pices/phase4'}" class="btn btn-default"><i class="fa fa-times"></i> Annuler</a>
                                            <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Sauvegarder </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- end: page -->
    </section>

</div>

</body>
</html>
