<!doctype html>
<html class="fixed" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
        i{
            font-size: 17px !important;
        }
    </style>
</head>
<body>

<div id="page" layout:fragment="content">


    <section role="main" class="content-body">
        <header class="page-header">
            <h2 class="pull-left">Profile</h2>
        </header>
        <!-- start: page -->

        <div class="row">
            <div class="col-md-4 ">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img th:if="${user.profile.image != null}" width="273px" height="273px" th:src="@{/user/profile/image}" class="rounded img-responsive" alt="John Doe">
                            <img th:if="${user.profile.image == null}" width="273px" height="273px" th:src="@{/images/logged-user.jpg}" class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner" th:text="${user.profile.prenom}+' '+${user.profile.nom}" ></span>
                                <span class="thumb-info-type" th:if="${#request.getUserPrincipal().getName() == 'admin'}">Administrateur</span>
                                <span class="thumb-info-type" th:if="${#request.getUserPrincipal().getName() != 'admin'}">Utilisateur</span>
                            </div>
                        </div>
                        <hr class="dotted short">
                        <div class="social-icons-list pull-right">
                            <label for="profile_image">
                                <form th:action="@{/user/profile/save_pic}" method="post" enctype="multipart/form-data" id="image_form">
                                    <input id="profile_image" type="file" style="display:none" name="image">
                                    <input type="submit" value="submit" hidden="hidden">
                                </form>
                                <a style="background: gray; cursor: pointer;" class="edit-profile"><i class="fa fa-pencil"></i><span>edit</span></a>
                            </label>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-8">

                <div class="tabs">
                    <ul class="nav nav-tabs tabs-primary">
                        <li class="active">
                            <a href="#overview" data-toggle="tab">Overview</a>
                        </li>
                        <li sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/user/profile_param}">Parametrage</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active">
                            <h4 class="mb-md">Update Status</h4>

                            <section class="simple-compose-box mb-xlg">
                                <form th:action="@{/user/profile/edit_note}" method="post">
                                    <input type="hidden" name="profile_id" th:value="${user.profile.id}">
                                    <textarea name="note_text" data-plugin-textarea-autosize placeholder="What's on your mind?" rows="1"></textarea>
                                    <div class="compose-box-footer">
                                        <ul class="compose-toolbar">
                                        </ul>
                                        <ul class="compose-btn">
                                            <li>
                                                <button class="btn btn-primary btn-xs" type="submit">Post</button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </section>

                            <h4 class="mb-xlg">Timeline</h4>
                            <div class="timeline timeline-simple mt-xlg mb-md">
                                <div class="tm-body">
                                    <ol class="tm-items">
                                        <li th:each="note: ${notes}">
                                            <div class="tm-box">
                                                <p class="text-muted mb-none" th:text="${#dates.format(note.date, 'dd-MM-yyyy     HH:mm')}"></p>
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <p th:text="${note.note}"></p>
                                                    </div>
                                                    <div class="col-sm-1"><a th:href="@{'/user/profile/'+${note.id}+'/delete_note'}"><i class="fa fa-trash-o text-danger"></i></a></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end: page -->
    </section>

</div>

</body>
</html>
